<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link id="dynamic-favicon" rel="shortcut icon" href="/static/{{ favicon }}.png">
    <title>{{ title }}</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <script>
      /*!
       * Dynamically changing favicons with JavaScript
       * Works in all A-grade browsers except Safari and Internet Explorer
       * Demo: http://mathiasbynens.be/demo/dynamic-favicons
       */

      // HTML5™, baby! http://mathiasbynens.be/notes/document-head
      document.head || (document.head = document.getElementsByTagName('head')[0]);

      function changeFavicon(src) {
       if (src == 'error') {
        // Do not attempt to access an image file on the server since
        // there is a chance that the server is having a problem and
        // will not be able to serve it.

        // This is the exclamation mark icon from Freecns Cumulus:
        // https://dribbble.com/shots/1203583-Freecns-Cumulus

        src =
          'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9' +
          'hAAAApklEQVQ4jaXTSwrCQBAE0LcwnkX8nFTwg7rwJH6uYfQS7lRwYUQXZkRiEjRT' +
          'UKuuKrpnuvlGH2OkOObcYYRuif6NNubI8KhghimSMvO2xljkOve8sawQBpTVFqE4w' +
          'L1BQBbeZFbTal3AAxM4RATs4BwRcIJLbEDMCCmvDfv1/4scQk/19tV1cEMnCCYNAo' +
          'YfdQk2f7S+QksBUcf0iXDOe1xzpirO+QlA6LTt9Gq4rQAAAABJRU5ErkJggg==';
       }

       var link = document.createElement('link'),
           oldLink = document.getElementById('dynamic-favicon');
       link.id = 'dynamic-favicon';
       link.rel = 'shortcut icon';
       link.href = src;
       if (oldLink) {
        document.head.removeChild(oldLink);
       }
       document.head.appendChild(link);
      }
    </script>
</head>
<body>
    <div class="ajax-status">
      <span class="ajax-last-updated">
        <noscript>Enable JavaScript to get automatic updates.</noscript>
      </span>
      <span class="ajax-updating-or-error"></span>
    </div>
    <div class="men {% if mens_occupied == true %}occupied{% else %}empty{% endif %}">
      <p>
        <em class="fa fa-male"></em>
      </p>
    </div>
    <div class="women {% if womens_occupied == true %}occupied{% else %}empty{% endif %}">
      <p>
          <em class="fa fa-female"></em>
      </p>
    </div>
    <script type="text/javascript">
      function el_has_class(el, className) {
        return el.classList.contains(className);
      }
      function remove_class_from_el(el, className) {
        if (el.classList)
          el.classList.remove(className);
        else
          el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
      }
      function add_class_to_el(el, className) {
        if (el.classList)
          el.classList.add(className);
        else
          el.className += ' ' + className;
      }
      function update_last_updated_time() {
        document.querySelector('.ajax-last-updated').innerHTML =
          'Last updated at ' + new Date().toLocaleTimeString();
      }
      function update_status() {
        var delay_in_seconds = 3;

        setTimeout(function () {
          document.querySelector('.ajax-updating-or-error').innerHTML =
            'Updating...';

          request = new XMLHttpRequest();
          request.open('GET', '/status', true);

          request.onload = function() {
            if (request.status >= 200 && request.status < 400){
              // Success!
              data = JSON.parse(request.responseText);
              men = document.getElementsByClassName('men')[0];
              women = document.getElementsByClassName('women')[0];
              if (data.mens_occupied === true) {
                if (data.womens_occupied === true) {
                  src = "/static/both_occupied.png";
                }
                else {
                  src = "/static/men_occupied_women_empty.png";
                }
              }
              else {
                if (data.womens_occupied === true) {
                  src = "/static/women_occupied_men_empty.png";
                }
                else {
                  src="/static/both_empty.png";
                }
              }
              changeFavicon(src);
              if (data.mens_occupied === true) {
                if (el_has_class(men, 'empty')) {
                  remove_class_from_el(men, 'empty');
                  add_class_to_el(men, 'occupied');
                }
              }
              else {
                if (el_has_class(men, 'occupied')) {
                  remove_class_from_el(men, 'occupied');
                  add_class_to_el(men, 'empty');
                }
              }
              if (data.womens_occupied === true) {
                if (el_has_class(women, 'empty')) {
                  remove_class_from_el(women, 'empty');
                  add_class_to_el(women, 'occupied');
                }
              }
              else {
                if (el_has_class(women, 'occupied')) {
                  remove_class_from_el(women, 'occupied');
                  add_class_to_el(women, 'empty');
                }
              }

              document.querySelector('.ajax-updating-or-error').innerHTML = '';
              update_last_updated_time();
            } else {
              // We reached our target server, but it returned an error

              changeFavicon('error');

              document.querySelector('.ajax-updating-or-error').innerHTML =
                'Error (' + request.status + '). Trying again in ' +
                delay_in_seconds + ' seconds...';
            }
            update_status();
          };
          request.onerror = function() {
            // There was a connection error of some sort

            changeFavicon('error');

            document.querySelector('.ajax-updating-or-error').innerHTML =
                'Unknown error. It is most likely a problem with your ' +
                'connection or the server. Trying again in ' +
                delay_in_seconds + ' seconds...';

            update_status();
          };

          request.send();
        }, delay_in_seconds * 1000);
      }
      update_last_updated_time();
      update_status();
    </script>
</body>
</html>
